<h2>Об эппе</h2>
<p>spaceWOD  ‑ это ваш личный
  новостной портал о событиях в отечественной и зарубежной космонавтике.</p>

<h2>Особенности</h2>
<ul>
  <li>Выбирайте темы, источники и людей, которых вы хотите следовать</li>
  <li>Все главные новости мира и ваши конкретные интересы в едином потоке</li>
  <li>Поделиться своими историями на ваш VK, Twitter, Facebook,
    Instagram или Evernote с одного крана.<a href="http://www.spacewod.com">ссылкой</a></li>
</ul>

{% if site.app.inclide_subscription_form %}
{% include subscription.html %}
{% endif %}

<hr/>

<a href="#">Nazifa Baktybayeva</a>
