<h2>Оставьте свой адрес почты</h2>

<div id="mc_embed_signup">
  <form action="//spacewod.us11.list-manage.com/subscribe/post?u=b92b05b9c54183acb398dd077&amp;id=38d43be4c5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

  	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="example@gmail.com" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_b92b05b9c54183acb398dd077_38d43be4c5" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Подписаться" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
</div>
